# requirements.txt
torch==2.7
accelerate>=1.5.2
alpaca-eval
#flash-attn==2.7.4.post1
jupyter>=1.1.1
math-verify[antlr4-13-2]>=0.7.0
pylatexenc==2.10
notebook>=7.4.2
pytest>=8.3.5

tqdm>=4.67.1
transformers>=4.50.0
typer>=0.15.4
vllm
wandb>=0.19.8
xopen>=2.0.2
